.portfolio_container{
grid-template-columns: repeat(2,1fr);
}

.portfolio_item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.portfolio_img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.portfolio_hover{
    background-color: var(--first-color);
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: all .5s ease;
}

.portfolio_item:hover .portfolio_hover{
    opacity: 1;
}



.portfolio_title{
    color: var(--text-white);
    font-size: var(--large-font-size);
    font-weight: var(--weight-500);
    transform: translateY(-20px);
    transition: all .5s ease;
}

.portfolio_item:hover .portfolio_title{
    transform: translateY(0);
}

.portfolio_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    /* Color negro con opacidad */
    z-index: 1000;
    display: grid;
    place-items: center;
}

.portfolio_modal-content{
    background-color: var(--container-color);
    max-width: 650px;
    width: 100%;
    height: 50%;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
}
 .modal_close {
    position: absolute;
    top: -3.5%;
    right: -8.5%;
     width: 50px;
     height: 50px;
     filter: invert(0.8);
 }


 .modal_list{

    grid-template-columns: repeat(2,1fr);
    row-gap: 10px !important;
    margin-bottom: 24px;
 }

.modal_item{
    display: flex;
    align-items: center;
    column-gap: 8px;
}


.item__icon{
    display: flex;
}


.item_title,
.item_details{
    color: var(--title-color);
    font-size: var(--mall-font-size);
}

.item_title{
    color: var(--first-color);
}
.item_details-link{
    color: white;
}

.item-total:hover{
    text-decoration: underline;
}

.item_details{
    font-weight: var(--weight-600);
}


 .modal_img{
    width: 100%;
    height: 350px;
    object-fit: cover;

 }


 .modal_title{
    text-align: center;
    color: var(--first-color);
    font-size: var(--h2-font-size);
    letter-spacing: 2px;
    margin-bottom: 24px;
 }